.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 20px;
    text-decoration-color: black;
    

}
.nav ul{
    display: flex;
    
}
.nav ul li{
    margin:0 30px;
    list-style: none;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.home{
    display: flex;
    width: 100%;
    margin: 5px 40px;
    background-color: rgb(214, 49, 214);
    padding: 50px;
    /* height: 80vh; */
}
.name-para{
    /* background-color: red; */
    /* text-align: center; */
    width: 50%;
    color: rgb(71, 14, 14);
    font-size: 40px;
}
.name h1{
    font-size: 40px;
}
.name-para{
    line-height: 1.6;
}
.img{
    /* background-color: yellow; */
    width: 50%;
    padding-left: 50px;


}
img{
    width: 350px;
    /* margin-top: -140px; */
    /* height: 400px; */
}
.projects-title{
    text-align:center;
    margin: 10px 30px;
    padding: 5px;
    font-size: 50px;
}
.projects-content h4{
    text-align: center;
    margin: 5px 30px;
    padding: 5px;
    font-size: 25px;
}
.projects-cont{
    margin: 10px 20px;
    padding: 5px;
    font-size: 18px;
}
.links{
    text-align: center;
}
.link{
    margin: 1px;
    padding: 10px;
}
.link h3,.link p{
    margin: 5px;
    padding: 5px;
}
.container-low{
    display: flex;
    margin: 15px;
    color: maroon;
    font-size: 20px;
}
.about{
    text-align: center;
    margin: 20px;
    padding: 5px;
    /* border: 2px  black; */
    box-shadow: 0px 5px 5px 5px;
    /* box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */

}

.about h3{
    margin: 5px;
    padding: 5px;
    font-size: 30px;

}
.about p{
    font-size: 18px;
    line-height: 1.3;
}
footer{
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.contacts-list ul{
    list-style: none;
    margin: 10px;

}
.contacts-list ul li{
    padding: 5px;
    font-size: 20px;
}
.project-p{
    text-align: center;
    font-size:20px;
}